/**
* GLOBAL LAYOUT
*/
.global-container {
	min-height: 100%;
	position: relative;
	background: #f7f0e8  url(../img/m-content-pattern.jpg) 50% 0 no-repeat;
	min-width: 740px;
	/*width: 740px; /* development feature */
}
.global-wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	clear: both;
}
.global-wrapper:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/**
* HEADER BLOCK
*/
.global-header {
	background: #a2c8c9 url(../img/header-pattern.png) 50% 0 repeat;
	font-size: 13px;
	color: #333;
}
.global-header .global-wrapper {
	position: relative;
	height: 97px;
}
.global-header .head-logo {
	background:url(../img/logo.png) 0 0 no-repeat;
	width: 201px;
	height: 78px;
	color: #333;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	display: block;
	position: absolute;
	top: 9px;
	left: 19px;
}
/*
 To make flexible layout from 1000px to 760px for search box
 we need fixed margin & fluid padding.
 70px & 23% can be overwritten to margin=306px
*/
.global-header .personal-links {
	margin: 0 70px;
	padding: 0 23%;
}
.global-header .searchbox {
	margin: 0 70px;
	padding: 32px 23% 0;
}
.global-header .search-block {
	background: #f2f2ea;
	border: 1px solid #9cafab;
	padding: 1px;
	line-height: 23px;
	height: 23px;
	font-size: 15px;
}
.global-header .search-block-label {
	display: block;
	margin: 0 50px 0 0;
	white-space: nowrap;
	overflow: hidden;
}
.global-header .search-block-label span {
	font-weight: bold;
	padding: 0 4px 0 9px;

}
.global-header .search-block-text {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: #333;
	background: transparent;
	border: 0 none;
	outline: 0 none;
	/*min-width: 150px;*/
	width: 67%;
	-moz-appearance:    textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
.global-header .search-block-text::-webkit-input-placeholder { color: #868581; }
.global-header .search-block-text:-moz-placeholder { color: #868581; }
.global-header .search-block-text::-moz-placeholder { color: #868581; }
.global-header .search-block-text:-ms-input-placeholder { color: #868581; }
.global-header .search-block-submit {
	font-family: inherit;
	font-size: inherit;
	background: #dc382c;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 0 9px 0 4px;
	height: 23px;
	line-height: 23px;
	border: 0 none;
	float: right;
	cursor: pointer;
}
.global-header .search-suggestion {
	font-size: 12px;
	font-style: italic;
	line-height: 1em;
	padding: 8px 50px 0 11px;
	margin: 0;
}
.global-header .personal-login {
	position: absolute;
	right: 0;
	top: 0;
}
.global-header .personal-basket {
	position: absolute;
	right: 0;
	top: 30px;
	width: 143px;
	background: #f4f1ec;
	line-height: 16px;
}
.global-header .personal-basket:before {
	display: block;
	content: ' ';
	position: absolute;
	left: -41px;
	top: 8px;
	background:url(../img/cart-icon.png) 0 0 no-repeat;
	width: 28px;
	height: 38px;
}
.basket-cart-top .basket-cart-title {
	display: block;
	padding: 0 13px;
}
.basket-cart-top .basket-cart-totalitems { padding: 0 0 0 13px;}
.basket-cart-top .basket-cart-totalprice { padding: 0 13px 0 0;}
.basket-cart-top .basket-cart-fullcartlink {
	display: block;
	clear: both;
	position: relative;
	background: #868686;
	padding: 0 40px 0 13px;
	margin: 3px 0 0;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	line-height: 20px;
}
.basket-cart-top .basket-cart-fullcartlink:before {
	position: absolute;
	display: block;
	content: ' ';
	background: #dc382c url(../img/cart-expand-icon.png) 50% 50% no-repeat;
	width: 30px;
	height: 20px;
	right: 0;
	top: 0;
}
.global-header .shipping-promo {
	position: absolute;
	right: 191px;
	width: 45px;
	top: 30px;
}

/**** Minicart ****/
.basket-minicart {
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 100;
	width: 286px;
	border: 1px solid #cccccc;
	display: none;
}
.basket-minicart-title {
	padding: 10px 7px 10px 20px;
	background: #333;
	color: #fff;
	font-size: 20px;
	font-family: 'Avenir Book', 'Myriad Pro', Cambria, sans-serif;
	line-height: 1em;
	font-weight: normal;
}
.basket-minicart-close {
	position: absolute;
	width:23px;
	height: 23px;
	background:url(../img/minicart-close-icon.png) 0 0 no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	top: 9px;
	right: 9px;
	z-index: 10;
}
.basket-minicart-tiles-list {
	background: #f7f7f7;
	background: -moz-linear-gradient(top,  #ffffff 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dcdcdc));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dcdcdc 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dcdcdc 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#dcdcdc 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#dcdcdc 100%);
	max-height: 296px;
	width: 100%;
	overflow: auto;
}
.basket-minicart-tile {
	margin: 15px auto 29px;
	width: 140px;
	padding: 0 0 0 120px;
	position: relative;
	clear: both;
}
.basket-minicart-tile-decor {
	display: block;
	height: 6px;
	margin: 0 0 0 14px;
	background: #f4f1ec;
	border: solid #dbd9da;
	border-width: 1px 1px 0 0;
	position: relative;
	z-index: 10;
}
.basket-minicart-tile-decor:before {
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	border: solid;
	border-width: 7px 7px 1px;
	border-color: transparent #dbd9da #dbd9da;
	left: -14px;
	top: -1px;
}
.basket-minicart-tile-decor:after {
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	border: solid;
	border-width: 7px 7px 0;
	border-color: transparent #f4f1ec transparent;
	left: -14px;
	top: 1px;
}
.basket-minicart-tile-img {
	position: absolute;
	text-align: left;
	vertical-align: top;
	left: 0;
	top: 0;
	height: 109px;
	width: 108px;
	padding: 0 11px 0 0;
	background: #f4f1ec;
	border: solid #dbd9da;
	border-width: 1px 0 1px 1px;
	overflow: hidden;
}
.basket-minicart-tile-img img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: top;
}
.basket-minicart-tile a ,
.basket-minicart-tile a:visited {
	color: inherit;
	text-decoration: none;
}
.basket-minicart-tile a:hover {
	text-decoration: underline;
}
.basket-minicart-tile-name {
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	height: 34px;
	overflow: hidden;
	padding: 0 9px 0 0;
	margin: 0;
	background: #f4f1ec;
	border: solid #dbd9da;
	border-width: 0 1px 0 0;
}
.basket-minicart-tile-properties {
	margin: 0;
	padding: 0;
	height: 69px;
	overflow: hidden;
	background: #f4f1ec;
	border: solid #dbd9da;
	border-width: 0 1px 1px 0;
	font-size: 12px;
	line-height: 16px;
}
.basket-minicart-tile-property-label { float: left;}
.basket-minicart-tile-property-value {
	margin: 0 0 0 45px;
	padding: 0;
	height: 16px;
	overflow: hidden;
}
.basket-minicart-tile-price {
	position: absolute;
	right: 9px;
	bottom: 6px;
	font-weight: bold;
}
.basket-minicart-total {
	background:#a2c8c9;
	padding: 5px 23px 6px 19px;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
}
.basket-minicart-total:after {
	content: ' ';
	display: block;
	clear: both;
}
.basket-cart-totalitems {
	font-weight: bold; float: left;
}
.basket-cart-totalprice { float: right;}
.basket-minicart-total .totalprice-value { font-weight: bold;}
.basket-minicart-actions {
	background: #d7d7d7;
	padding: 12px 8px;
}
.basket-minicart-actions:after {
	content: ' ';
	display: block;
	clear: both;
}
.basket-minicart-tocart {
	display: block;
	float: left;
	text-decoration: none;
	text-transform: uppercase;
	width: 105px;
	padding: 6px 24px 5px 0;
	margin:0;
	font-weight: bold;
	font-size: 16px;
	line-height: 1em;
	background: #ffffff;
	color: #000;
	text-align: center;
	position: relative;
}
.basket-minicart-tocart:hover {
	text-decoration: underline;
}
.basket-minicart-tocart:after {
	content: ' ';
	position: absolute;
	background: url(../img/minicart-buy-icon.png);
	width: 10px;
	height: 13px;
	right: 9px;
	top: 7px;
}
.basket-minicart-tocheckout {
	display: block;
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	width: 105px;
	padding: 6px 24px 5px 0;
	margin:0;
	font-weight: bold;
	font-size: 16px;
	line-height: 1em;
	background: #dc382c;
	color: #ffffff;
	text-align: center;
	position: relative;
}
.basket-minicart-tocheckout:hover {
	text-decoration: underline;
}
.basket-minicart-tocheckout:after {
	content: ' ';
	position: absolute;
	background: url(../img/minicart-buy-icon.png);
	width: 10px;
	height: 13px;
	right: 9px;
	top: 7px;
}
.basket-minicart-banner {
	vertical-align: bottom;
	text-align: center;
	background: #dcdcdc;
	overflow: hidden;
}

/**** Head Menu ****/
.global-head-menu {
	background: #333333;
	height: 36px;
}
.menu-list-category {
	float: left;
	position: relative;
}
.menu-list-category .level-0 {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 34px;
	height: 34px;
	border: 1px solid #333333;
	padding: 0 8px 0 25px;
	position: relative;
	display: block;
}
.menu-list-category .level-0:before {
	position: absolute;
	display: block;
	content: ' ';
	background:url(../img/headmenu-simple-icon.png) 0 0 no-repeat;
	width: 7px;
	height: 7px;
	left: 7px;
	top:13px;
}
.menu-list-category .menu-list-subcategories {
	/*display: none;*/
	visibility: hidden;
	position: absolute;
	top: 100%;
	background: #f4f1ec;
	font-size: 14px;
	border: #6b9394 solid;
	border-width: 0 1px 1px;
	padding: 20px 0 16px;
	z-index: 10;
}
.menu-list-category:hover .menu-list-subcategories {
	/*display: block;*/
	visibility: visible;
}
.menu-list-category .level-0:hover,
.menu-list-category:hover .level-0 {
	background:#659692 url(../img/headmenu-hover-pattern.png) 0 0 repeat;
	color: #000;
}
.menu-list-category .level-0:hover:before,
.menu-list-category:hover .level-0:before {
	background-image: url(../img/headmenu-hover-icon.png);
}
.menu-list-category .menu-list-subcategory .level-1 {
	font-size: 14px;
	line-height: 16px;
	padding: 4px 20px 4px 49px;
	width: 130px;
	display: block;
	color: #333333;
	text-decoration: none;
	position: relative;
}
.menu-list-category .menu-list-subcategory .level-1:before {
	position: absolute;
	display: block;
	content: ' ';
	background:url(../img/headmenu-simple-icon.png) 0 0 no-repeat;
	width: 7px;
	height: 7px;
	left: 20px;
	top:8px;
}
.menu-list-category .menu-list-subcategory .level-1:hover {
	background: #a2c8c9 url(../img/headmenusub-hover-pattern.png) 0 0 repeat;
}
.menu-list-category .menu-list-subcategory .level-1:hover:before {
	background-image: url(../img/headmenu-hover-icon.png);
}
/**
* CONTENT BLOCK
*/
/**** Breadcrums ****/
.global-breadcrumb {
	min-height: 36px;
}
.breadcrumbs-box {
	font-size: 14px;
	line-height: 16px;
	padding: 11px 28px 9px;
}
.breadcrumbs-item {
	display: inline;
	padding: 0 10px 0 0;
	color: #333;
}
.breadcrumbs-item:after {
	padding: 0 0 0 10px;
	content: '\005C';
}
.breadcrumbs-item a { color: #333; }
.breadcrumbs-item:last-of-type:after ,
.breadcrumbs-item.last:after { display: none; }
.breadcrumbs-item:last-of-type a ,
.breadcrumbs-item.last a { text-decoration: none; }

/**** Content layout ****/
.global-content {
	padding: 0 0 195px;
	clear: both;
}
.global-content .global-left-column {
	float: left;
	width: 20.3% ; /* ~206px when content = 1000px */
}
.global-content .global-right-column {
	margin: 0 0 0 21.6%; /* ~216px when content = 1000px */
}
.global-content .global-right-wrapper {
	float: left;
	width: 100%;
}

/**** Refinments ****/
.refinements-box {
	background: #f4f1ec;
}
.refinement {
	padding: 0 0 20px;
	/*margin: 0 0 20px;*/
	border: solid #dfddd9;
	border-width: 0 1px;
}
.refinement-headline {
	font-size: 20px;
	font-family: 'Avenir', 'Myriad Pro', Cambria, sans-serif;
	line-height: 1em;
	padding: 10px 10px 10px 40px;
	margin: 0 -1px;
	background: #4b4b4b;
	color: #fff;
}
.refinement-values {
	border: solid #a2a1a0;
	border-width: 0 0 1px;
	padding: 10px 0 16px;
	background: -moz-linear-gradient(left, #f3f0eb 0px, #bfbfbf 25px, #f4f1ec 24px);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dfddd9), color-stop(1px,#f3f0eb), color-stop(24px,#bfbfbf), color-stop(25px,#f4f1ec), color-stop(100%,#f4f1ec));
	background: -webkit-linear-gradient(left,  #dfddd9 0%,  #f3f0eb 1px,#bfbfbf 24px,#f4f1ec 25px,#f4f1ec 100%);
	background: -o-linear-gradient(left,   #dfddd9 0%,  #f3f0eb 1px,#bfbfbf 24px,#f4f1ec 25px,#f4f1ec 100%);
	background: -ms-linear-gradient(left,  #dfddd9 0%,  #f3f0eb 1px,#bfbfbf 24px,#f4f1ec 25px,#f4f1ec 100%);
	background: linear-gradient(to right,  #dfddd9 0%,  #f3f0eb 1px,#bfbfbf 24px,#f4f1ec 25px,#f4f1ec 100%);
}
.refinement-value {
	padding: 5px 10px 5px 65px;
	font-size: 14px;
	line-height: 1em;
	border: solid #dfddd9;
	border-width: 0 0 1px;
	cursor: pointer;
	position: relative;
	z-index: 0;
}
.refinement-value:before {
	position: absolute;
	content: ' ';
	display: block;
	background:url(../img/headmenu-simple-icon.png) 0 0 no-repeat;
	width: 7px;
	height: 7px;
	margin: 9px 0 0 42px;
	top: 0;
	left: 0;
}
.refinement-value.last,
.refinement-value:last-of-type {
	border-width: 0;
}
.refinement-value:hover:before {
	background-image: url(../img/headmenu-hover-icon.png);
}
.refinement-level-0:hover {
	text-decoration: underline;
}
.refinement-level-1 {
	font-size: 0.85em;
	padding: 0 0 0 5px;
}
.refinement-level-1:hover {
	text-decoration: underline;
}

.refinement-color .refinement-values {
	padding: 10px 0 16px 40px;
}
.refinement-color .refinement-values:after {
	content: ' ';
	display: block;
	clear: both;
}
.refinement-color .refinement-value {
	padding: 0;
	border: none;
	float: left;
	margin: 0 10px 10px 0;
}
.refinement-color .refinement-value:before {
	display: none;
}
.refinement-color .refinement-level-0 {
	display: block;
	width: 21px;
	height: 21px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.refinement-color .beige { background: #f5f5dc; }
.refinement-color .black { background: #000000; }
.refinement-color .blue  { background: blue; }
.refinement-color .brown  { background: #8b4513; }
.refinement-color .navy  { background: navy; }
.refinement-color .green { background: green; }
.refinement-color .grey { background: #808080; }
.refinement-color .orange { background: #ff8c00; }
.refinement-color .pink { background: #ffb6c1; }
.refinement-color .purple { background: purple; }
.refinement-color .red { background: red; }
.refinement-color .white { background: #ffffff; }
.refinement-color .yellow { background: yellow; }
.refinement-color .miscellaneous { background: url(../img/headmenu-hover-icon.png) 0 0 repeat;}

/**** Page title & Category-landing banner ****/
.global-page-title {
	font-family: 'Avenir Book', 'Myriad Pro', sans-serif;
	font-size: 20px;
	line-height: 1em;
	padding: 8px 17px;
	background: #a2c8c9;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 1px;
}
.categorylanding-banner {
	overflow: hidden;
	margin: 1px 0 26px;
}
.categorylanding-banner a {
	display: block;
	text-align: right;
	border: 2px solid #ffffff;
	overflow: hidden;
}
.categorylanding-banner img {
	vertical-align: bottom;
	text-align: right;
	float: right; /* development feature */
}

/**** Pagination ****/
.page-pagination-bottom {
	margin: 0 0 28px;
}
.pagination-box {
	position: relative;
	color: #fff;
	background: #4b4b4b;
	padding: 10px 16px 5px 14px;
	font-size: 14px;
	line-height: 1em;
}
.pagination-box:after {
	display: block;
	content: ' ';
	clear: both;
}
.pagination-box b { font-weight: normal; }
.pagination-description {
	float: left;
}
.pagination-navigator {
	float: right;
}
.pagination-perpage {
	clear: both;
	display: block;
}
.pagination-perpage select {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	border-width: 0;
	padding: 0;
	font-family: inherit;
	font-size: 16px;
}
.page-pagination-top .pagination-perpage {
	position: absolute;
	top: 100%;
	right: 16px;
	margin: 1px 0 0;
}
.page-pagination-bottom .pagination-perpage {
	display: none;
}
.page-pagination-bottom .pagination-box {
	padding-bottom: 10px;
}
.pagination-last,
.pagination-first {
	display: inline-block;
	height: 15px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	width: 20px;
	vertical-align: top;
}
.pagination-last:before,
.pagination-first:before {
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	content: ' ';
	width: 18px;
	height: 13px;
	background: 0 0 no-repeat;
}
.pagination-first:before {
	background-image: url(../img/pagination-first-icon.png);
}
.pagination-first:hover:before {
	background-image: url(../img/pagination-first2-icon.png);
}
.pagination-last:before {
	left: auto;
	right: 0;
	background: url(../img/pagination-last-icon.png) 0 0 no-repeat;
}
.pagination-last:hover:before {
	background-image: url(../img/pagination-last2-icon.png);
}
.pagination-previous,
.pagination-next {
	display: inline-block;
	height: 15px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	width: 20px;
	vertical-align: top;
}
.pagination-previous:before,
.pagination-next:before {
	display: block;
	position: absolute;
	top: 1px;
	left: 5px;
	content: ' ';
	width: 10px;
	height: 13px;
	background: 0 0 no-repeat;
}
.pagination-next:before {
	background-image: url(../img/pagination-next-icon.png);
}
.pagination-next:hover:before {
	background-image: url(../img/pagination-next2-icon.png);
}
.pagination-previous:before {
	background: url(../img/pagination-previous-icon.png) 0 0 no-repeat;
}
.pagination-previous:hover:before {
	background-image: url(../img/pagination-previous2-icon.png);
}
.pagination-page {
	display: inline-block;
	padding: 0 3px;
	cursor: pointer;
}
.pagination-current {
	display: inline-block;
	color: #000;
	background: #a2c8c9;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
	padding: 1px 5px;
}
.pagination-title {
	padding: 0 10px 0 0;
	font-weight: bold;
}

/**** Sorting ****/
.pagination-sorting-box {
	color: #fff;
	background: #4b4b4b;
	padding: 5px 16px 10px 14px;
	font-size: 14px;
	line-height: 1em;
}
.pagination-sorting {
	margin: 0;
	padding: 0;
}
.pagination-sorting-title {
	font-weight: bold;
	display: inline;
	padding-right: 12px;
}
.pagination-sorting-item {
	margin: 0;
	padding: 0;
	display: inline;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
}
.pagination-sorting-item:after {
	content: '\005C';
	padding: 0 10px;
}
.pagination-sorting-link {
	color: #fff;
	text-decoration: none;
}
.pagination-sorting-link:hover {
	text-decoration: underline;
}
.sorting-option_selected .pagination-sorting-link,
.selected .pagination-sorting-link {
	font-weight: bold;
}
.sorting-option_selected .pagination-sorting-link:hover,
.selected .pagination-sorting-link:hover {
	text-decoration: none;
}
.pagination-sorting-item:last-of-type:after,
.pagination-sorting-item.last:after { display: none;}

.page-pagination-top .pagination-sorting-box {
	padding-right: 120px;
}
/**
* PRODUCT LIST
*/
.search-results-box {
	margin: 12px -1.276%;
}
.search-results-producttile {
	display: inline-block;
	margin: 0 1.276% 10px;
	width: 22.4%;
	vertical-align: top;
}
.search-results-producttile-image {
	color: #333333;
	text-decoration: none;
	display: block;
	overflow: hidden;
	background: #f5f1e8;
	border: solid #d7d5da;
	border-width: 1px 1px 0 ;
	padding: 0 0 6px;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
}
.search-results-producttile-image img {
	max-width: 100%;
	max-height: 207px;
	vertical-align: top;
}
.search-results-producttile-decor {
	display: block;
	background: #f5f1e8;
	border: solid #d7d5da;
	border-width: 0 1px 0 0;
	height: 17px;
	margin: 0 0 0 14px;
	position: relative;
	z-index: 1;
}
.search-results-producttile-indecor {
	display: block;
	height: 100%;
	position: relative;
	z-index: 2;
}
.search-results-producttile-decor:before,
.search-results-producttile-decor:after,
.search-results-producttile-indecor:before,
.search-results-producttile-indecor:after {
	display: block;
	content: ' ';
	position: absolute;
	height: 0;
	width: 0;
	border:0 solid #f5f1e8;
	left: -14px;
	top: 0;
	z-index: 0;
}
.search-results-producttile-decor:before {
	border-width: 17px 0 0 17px;
	border-color: #d7d5da transparent transparent transparent;
}
.search-results-producttile-decor:after {
	border-width: 0 0 17px 17px;
	border-color: transparent transparent #d7d5da transparent;
}
.search-results-producttile-indecor:before {
	border-width: 17px 0 0 17px;
	border-color: #f5f1e8 transparent transparent transparent;
	left: -13px;
	z-index: 1;
}
.search-results-producttile-indecor:after {
	border-width: 0 0 17px 17px;
	border-color: transparent transparent #f5f1e8 transparent;
	left: -13px;
	z-index: 2;
}
.search-results-producttile-footer {
	display: block;
	background: #f5f1e8;
	border: solid #d7d5da;
	border-width:0 1px 1px;
	padding: 0 12px 0 13px;
}
.search-results-producttile-wrapper {
	display: block;
	margin: 0 0 -11px;
	min-height: 150px;
	position: relative;
	top: -17px;
	z-index: 2; /* to overflow the .l-producttile-decor */
}
.search-results-producttile-category {
	display: block;
	color: #333333;
	text-decoration: none;
	font-size: 14px;
	line-height: 19px;
}
.search-results-producttile-name {
	display: block;
	color: #333333;
	text-decoration: none;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	max-height: 57px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search-results-producttile-name:hover {
	text-decoration: underline;
}
.search-results-producttile-rating {
	display: block;
	line-height: 23px;
	padding: 0 0 4px;
}
.rating {
	display: inline-block;
	width: 97px;
	height: 23px;
	background: url(../img/rating-stars.png) 0 0 no-repeat;
	vertical-align: middle;
	margin: 0 0 0 -4px;
}
.rating-5   { background-position: 0 0;}
.rating-4-5 { background-position: 0 -23px;}
.rating-4   { background-position: 0 -46px;}
.rating-3-5 { background-position: 0 -69px;}
.rating-3   { background-position: 0 -92px;}
.rating-2-5 { background-position: 0 -115px;}
.rating-2   { background-position: 0 -138px;}
.rating-1-5 { background-position: 0 -161px;}
.rating-1   { background-position: 0 -184px;}
.search-results-producttile-rating .desc,
.rating+.desc {
	vertical-align: middle;
	line-height: 23px;
}
.search-results-producttile-rating .rating {
	margin: 0 0 0 -4px;
}
.search-results-producttile-rating .desc {
	white-space: nowrap;
	vertical-align: middle;
}
.priceold {
	display: block;
	background: url(../img/priceold-linethrough.png) 65% 50% no-repeat;
	text-decoration: none;
}
.pricenew {
	display: block;
	font-style: normal;
}
.pricenew strong {
	white-space: nowrap;
}

.search-results-producttile-price {
	display: block;
	text-align: right;
}
.search-results-producttile-pricediscount {
	display: block;
	float: left;
	background: #fbfaf6;
	border:1px solid #d7d5da;
	width: 46%;
	text-align: center;
}
.search-results-producttile-pricediscount strong {
	font-size: 20px;
	font-weight: bold;
	display: block;
}
.search-results-producttile-priceold {
	margin: 0 0 0 50%;
}
.search-results-producttile-pricenew {
	margin: 0 0 0 50%;
	font-weight: bold;
}
.search-results-producttile-availability { display: block; clear: both;}

/**
* PRODUCT DETAIL PAGE
*/
.product-detail-right-column {
	float: right;
	width: 195px;
}
.product-detail-left-column {
	margin-right: 210px;
	padding-top: 26px;
}
.product-detail-left-left-column {
	float: left;
	width: 49.62%;
}
.product-detail-left-right-column {
	float: right;
	width: 50.1%;
}
.product-detail-title-n-price-box {
	/*min-height: 362px; /*322px*/
	background: #ffffff;
	padding: 0 0 5px;
}
.product-detail-title-n-price-box:after {
	display: block;
	clear: both;
	content: ' ';
}
.product-detail-product-title {
	margin: 0;
	padding: 10px 7px 10px 20px;
	background: #a2c8c9;
	color: #fff;
	font-size: 20px;
	font-family: 'Avenir Book', 'Myriad Pro', Cambria, sans-serif;
	line-height: 1em;
	font-weight: normal;
}
.product-detail-product-brand {
	padding: 0 ;
	margin: 20px 7px 15px 20px;
}
.product-detail-product-rating {
	margin: 15px 7px 15px 17px;
	line-height: 23px;
}
.product-detail-product-price {
	margin: 15px 7px 15px 20px;
}
.product-detail-product-pricenew {
	font-size: 18px;
	margin-bottom: 18px;
}
.product-detail-product-priceold {
	background: transparent;
}
.product-detail-product-pricediscount {
	display: block;
	font-style: normal;
}
.product-detail-product-availability {
	margin: 15px 7px 15px 20px;
}
.product-detail-product-availability i { font-style: normal;}

.product-detail-product-button {
	display: inline-block;
	border: 1px solid #d5d3d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	background: #f4f1ec;
	min-width: 100px;
	padding: 5px 5px 5px 32px;
	position: relative;
	text-decoration: none;
	color: #333333;
	font-size: 14px;
}
.product-detail-product-button:before {
	display: block;
	content: ' ';
	position: absolute;
	width: 7px;
	height: 7px;
	background: url(../img/headmenu-simple-icon.png) 0 0 no-repeat;
	left: 0;
	top: 0;
	margin: 10px 0 0 14px;
}
.product-detail-product-button:hover {
	text-decoration: underline;
}
.product-detail-product-button:hover:before {
	background-image: url(../img/headmenu-hover-icon.png);
}
.product-detail-title-n-price-box .product-detail-product-button {
	float: right;
	margin: 15px 7px 15px 0;
}

.product-detail-addtocart {
	clear: both;
	color: #fff;
	background: #333333;
	font-size: 14px;
	padding: 10px 7px;
}
.product-detail-addtocart fieldset {
	margin: 0 190px 10px 0;
	text-align: right;
	border: 0;
	padding: 0;
}
fieldset.product-detail-quantity { margin-bottom: 0;}
.product-detail-quantity input {
	width: 3.5em;
	text-align: right;
	line-height: 24px;
	height: 24px;
	border: 0 none;
}
.checkout-button a,
.product-detail-add-to-basket {
	float: right;
	background: #dc382c;
	position: relative;
	padding: 3px 42px 3px 6px;
	min-width: 120px;
	font-size: 16px;
	font-family: inherit;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	color: #fff;
	border: 0 none;
	top: -24px;
}
.checkout-button a:after,
.product-detail-add-to-basket:after {
	content: ' ';
	display: block;
	position: absolute;
	background:url(../img/add-to-cart-icon.png) 0 0 no-repeat;
	width: 28px;
	height: 13px;
	right: 0;
	top: 0;
	margin: 6px 9px 0 0 ;
}
.checkout-button a[disabled],
.product-detail-add-to-basket[disabled] {
	background: #848484;
}

/**** Product variants  ****/
fieldset.product-detail-variant-box {
	text-align: left;
	margin: 0 0 10px;
}
.product-detail-variant-box a,
.product-detail-variant-box a:visited {
	color: #fff;
}
.product-detail-variant-list {
	margin: 0;
	padding: 0;
}
.variant-item {
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	vertical-align: top;
}
.variant-list-color .variant-item {
	width: 3em;
	height: 2em;
	background: #666666;
	border: #000 1px solid;

	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.1);
}
.variant-list-color .variant-item:hover {
	border-color: #A2C8C9;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.variant-list-color .variant-item.selected ,
.variant-list-color .variant-item.selected:hover {
	border-color: #DC382C;
	cursor: default;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.variant-list-color .variant-Grey { background: #787878;}
.variant-list-color .variant-Black { background: #000;/* border-color: #333;*/}
.variant-list-color .variant-Green { background: #479142; border-color: #333;}
.variant-list-color .variant-Orange { background: #f2890c;}
.variant-list-color .variant-Lightgreen { background: #adff2f;}
.variant-list-color .variant-Pink { background: #eb7fb2;}
.variant-list-color .variant-Red { background: #e95524;}
.variant-list-color .variant-Yellow { background: #fbee42;}
.variant-list-color .variant-Blue { background: #2c4ea1;}
.variant-list-color .variant-Lightblue { background: #4e83db;}
.variant-list-color .variant-Purple { background: #af40ba;}
.variant-list-color .variant-Brown { background: #834b1f;}
.variant-list-color .variant-Silver { background: #cdcccc;}
.variant-list-color .variant-Beige { background: #f2e6cb;}
.variant-list-color .variant-Gold { background: #fbdc38;}
.variant-list-color .variant-Blueberry { background: #4451c0;}
.variant-list-color .variant-Chocolate { background: rgba(54, 31, 22, 0.87);}
.variant-list-color .variant-Curry { background: #dca121;}
.variant-list-color .variant-Cypress { background: rgba(39, 80, 15, 0.57);}
.variant-list-color .variant-Ivory { background: rgba(255, 207, 97, 0.37);}
.variant-list-color .variant-Olive { background: rgba(69, 137, 20, 0.59);}
.variant-list-color .variant-Ophelia { background: rgba(104, 100, 58, 0.65);}
.variant-list-color .variant-Peridot { background: rgba(69, 149, 65, 0.67);}
.variant-list-color .variant-Rust { background: #af4518;}
.variant-list-color .variant-Sapphire { background: #321eb1;}
.variant-list-color .variant-Viola { background: #9e3eb1;}
.variant-list-color .variant-Violet { background: #e457fb;}
.variant-list-color .variant-Multicolor { background: url(../img/headmenu-hover-icon.png) 0 0 repeat;}
.variant-list-color .variant-Turquoise { background: url(../img/headmenu-hover-icon.png) 0 0 repeat;}

.variant-list-size .variant-item {
	height: 1.5em;
	line-height: 1.5em;
	padding: 0 1.5em;
	background: #eaeaea;
	border: #000 1px solid;
	text-indent: 0;
	text-align: center;
	color: #333;

	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.1);
}
.variant-list-size .variant-item:hover {
	border-color: #A2C8C9;
}
.variant-list-size .variant-item.selected ,
.variant-list-size .variant-item.selected:hover {
	border-color: #DC382C;
	cursor: default;
}

/**/

.product-detail-images-huge {
	background: #ffffff;
}
.product-detail-images-huge img  {
	display: block;
	margin: 0 auto;
	max-width:  100% ;
	/*width: 100%;*/
}
.product-detail-images-previewlist {
	margin: 20px 0 40px;
}
.product-detail-images-previewlist:after {
	content: ' ';
	display: block;
	clear: both;
}
.product-detail-image-preview {
	float: left;
	margin: 0 9px 9px 0;
	border: 1px solid #fff;
	height: 56px;
	line-height: 56px;
	position: relative;
	cursor: pointer;
}
.product-detail-image-preview img {
	vertical-align: bottom;
	max-height: 56px;
}
.product-detail-image-preview:hover {
	border-color: #dd3d31;
}
.product-detail-image-preview.selected {
	border-color: #dd3d31;
	cursor: default;
}
.product-detail-image-preview.selected:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	background: url(../img/images-preview-selected-icon.png) 0 0 no-repeat;
	width: 18px;
	height: 17px;
	margin: -8px 0 0 -9px;
}

.product-detail-promotional {
	margin: 40px 0 20px;
	clear: both;
}
.product-detail-promotional-title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 16px;
	padding: 0;
}
.product-detail-promotional .product-detail-product-button {
	margin: 0 8px 12px 0;
}

.product-detail-description-box {
	margin: 10px 0 20px;
	border: 1px solid #d9d7db;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	background: #f4f1ec;
	padding: 17px;
}
.product-detail-description-title {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 12px;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
}
.product-detail-description {
	margin: 12px 0;
	font-size: 14px;
	line-height: 18px;
}
.product-detail-tabs-menu {}
.product-detail-tabs-menu li {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	vertical-align: top;
}
.product-detail-tabs-menu a {
	display: block;
	padding: 5px 14px 5px 26px;
	border: 1px solid #333333;
	color: #fff;
	background: #333333;
	text-decoration: none;
	position: relative;
}
.product-detail-tabs-menu a:before {
	display: block;
	content: ' ';
	position: absolute;
	width: 7px;
	height: 7px;
	top: 0;
	left: 0;
	margin: 12px 0 0 10px;
	background:url(../img/headmenu-simple-icon.png) 0 0 no-repeat;
}
.product-detail-tabs-menu .selected a,
.product-detail-tabs-menu a:hover {
	background: #a2c8c9;
	border-color: #699192 #699192 #a2c8c9 #699192;
	padding-top: 9px;
	top: -4px;
	margin-bottom: -4px;
	color: #333;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}
.product-detail-tabs-menu .selected a:before ,
.product-detail-tabs-menu a:hover:before {
	background-image: url(../img/headmenu-hover-icon.png);
	margin: 16px 0 0 10px;
}
.product-detail-tab-content {
	border: 1px solid #699192;
	padding: 15px 10px;
	background: #ffffff;
	display: none;
}
.product-detail-tab-content:after {
	content: ' ';
	display: block;
	clear: both;
}
.product-detail-tab-content.selected {
	display: block;
}

.product-detail-comments {
	float: left;
	width: 100%;
	clear: left;
}
.product-detail-comments-title {
	clear: both;
	color: #fff;
	background: #868686;
	border: solid #d9d7db;
	border-width: 1px 1px 0;
	padding: 10px 18px;
	font-size: 20px;
	line-height: 1em;
	margin: 0;
	font-family: 'Avenir Book', 'Myriad Pro', sans-serif;
	font-weight: normal;
}
.product-detail-comments-box {
	clear: both;
	background: #f4f1ec;
	border: solid #d9d7db;
	border-width: 0 1px 1px;
	padding: 26px 18px;
	margin: 0 0 19px;
}
.product-detail-comments-list {
	padding: 0;
	font-size: 14px;
	line-height: 18px;
}
.product-detail-comment {
	padding: 26px 18px;
}
.product-detail-comment.odd {
	background: #f4f1ec;
}
.product-detail-comment-date {
	display: inline-block;
	position: relative;
	padding: 0 26px;
	margin: 10px 0 ;
	color: #699192;
	font-style: italic;
}
.product-detail-comment-date:before,
.product-detail-comment-date:after{
	content: ' ';
	position: absolute;
	left: 0;
	top: 50%;
	width: 18px;
	border-top: 1px solid #699192;
}
.product-detail-comment-date:after{
	right: 0;
	left: auto;
}
.product-detail-comment a {
	color: inherit;
}

.product-detail-shortlist {
	background: #f5f1e8;
	margin: 24px 0 0;
}
.product-detail-shortlist-title {
	background: #868686;
	font-family: 'Avenir Book', 'Myriad Pro', sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 1em;
	padding: 10px 10px;
	margin: 0;
	color: #fff;
}
.recently-viewed .product-detail-shortlist-title {
	background: #a2c8c9;
}

.product-detail-shortlist-tile {
	background: #f4f1ec;
	width: 83px;
	height: 110px;
	border: solid #d7d5d6;
	border-width: 1px 1px 1px 0;
	margin: 10px 0 0 111px;
	padding: 0;
	position: relative;
}
.product-detail-shortlist-tile:before {
	content: ' ';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: solid;
	border-width: 7px 7px 0;
	border-color: #d7d5d6 transparent transparent;
	left: 10px;
	top: -1px;
	z-index: 1;
}
.product-detail-shortlist-tile:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: solid;
	border-width: 5px 5px 0;
	border-color: #f5f1e8 transparent transparent;
	left: 12px;
	top: -1px;
	z-index: 2;
}
.product-detail-shortlist-image {
	position: absolute;
	left: -111px;
	top: -1px;
	width: 110px;
	height: 110px;
	overflow: hidden;
	line-height: 110px;
	vertical-align: middle;
	text-align: center;
	background: #ffffff;
	border: solid #e8e8e8;
	border-width: 1px 0 1px 1px;
}
.product-detail-shortlist-tile img {
	max-width: 100% ;
	max-height: 100%;
}
.product-detail-shortlist-name {
	font-size: 14px;
	line-height: 18px;
	display: block;
	margin: 10px 5px 5px;
	max-height: 54px;
	overflow: hidden;
	color: #333;
	text-decoration: none;
}
.product-detail-shortlist-name:hover { text-decoration: underline;}
.product-detail-shortlist-rating {
	display: none;
}
.product-detail-shortlist-price {}
.product-detail-shortlist-priceold {
	margin: 0 5px;
	text-align: right;
}
.product-detail-shortlist-pricenew {
	margin: 0 5px;
	text-align: right;
}

/**
* My Account & Cart
*/
/**** Cart ****/
.cart-box {
	padding: 5px 18px 20px;
	border: solid #dfddd9;
	border-width: 0 1px 1px;
	background: #f4f1ec;
}
.cart-table {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}
.cart-head {
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 25px;
	padding: 6px 0 8px;
}
.cart-body-cell {
	border: solid #dfddd9;
	border-width: 1px 0 0;
	font-size: 14px;
	line-height: 25px;
	padding: 6px 0 8px;
}
.cart-body-cell a ,
.cart-body-cell a:visited {
	color: #000;
}
.cart-body-quantity input {
	width: 5em;
	height: 23px;
}
.cart-body-price {
	text-align: right;
}
.cart-body-options {
	text-align: center;
}
.checkout-button {
	padding: 15px 18px 20px;
	min-height: 25px ;
	position: relative;
}
.checkout-button a {
	top: 0;
}

/**
* FOOTER BLOCK
*/
.global-footer {
	background: #a2c8c9;
	height: 165px;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: 0 0 30px;
}
.global-footer:before {
	content: ' ';
	display: block;
	height: 37px;
	width: 100%;
	background: #333333;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}
.global-footer .global-wrapper {
	z-index: 1;
	position: relative;
}
.global-footer .footer-links-list {
	margin: 0;
	padding: 0;
	float: left;
	width: 20%;
}
.global-footer .footer-links-list a {
	color: #333;
	text-decoration: none;
}
.global-footer .footer-links-list a:hover { text-decoration: underline; }
.global-footer .footer-links-headline {
	padding: 6px 0 0 23px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	display: block;
	font-size: 13px;
	line-height: 31px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.global-footer .footer-links-headline:before {
	content: ' ';
	display: block;
	height: 1px;
	width: 100%;
	background: #717171;
	position: absolute;
	top: 21px;
	left: 0;
	padding: 0 0 0 23px;
	z-index: -1;
}
.global-footer .footer-links-headline b {
	padding: 0 15px;
	background: #333333;
}
.global-footer .footer-links-headline a{ color: #fff; }
.global-footer .footer-links-item {
	margin: 0;
	display: block;
	padding: 4px 0 4px 38px;
	border: solid #9fbbbf;
	border-width: 0 0 1px;
	clear: both;
	line-height: 16px;
	position: relative;
	word-break: break-all;
	word-wrap: break-word;
}
.global-footer .footer-links-item:before {
	position: absolute;
	display: block;
	content: ' ';
	background:url(../img/headmenu-simple-icon.png) 0 0 no-repeat;
	width: 7px;
	height: 7px;
	left: 14px;
	top:8px;
}
.global-footer .footer-links-item.last,
.global-footer .footer-links-item:last-of-type {
	border-width: 0;
}

/**
* HELPER CLASSES
*/
.global-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0.7;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;

	/* strange styles */
	/*width: 78.4%;*/
	max-width: 1000px;
	min-width: 740px;
	left: 0;
	right: 0;
	top: 169px;
	bottom: 223px;
	margin: auto auto;
	height: auto;
	width: auto;
}
.global-ajax-loader {
	width:97px;
	height: 97px;
	background: #FFF url(../img/ajax-loader.png) 50% 50% no-repeat;
	margin: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
.global-ajax-error {
	display: none;
}
.pointer {
	cursor:pointer;
}
